<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/flagments/header::header">
        <title>List Task</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="admin-dashone-data-table-area">
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Role<span class="table-project-n"></span> Table</h1>
                                <div class="sparkline13-outline-icon">
                                    <a th:href="@{/task-list/add.html}"><button type="button" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>CREATE NEW</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                    <tr>
                                        <th data-checkbox="true"></th>
                                        <th data-field="id">ID</th>
                                        <th data-field="name" >Name</th>
                                        <th data-field="detail" >Create Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <tr th:each=" task :${taskLists}">
                                        <td></td>
                                        <td th:text="${task.taskListId}">id</td>
                                        <td th:text="${task.name}">name</td>
                                        <td th:text="${#dates.format(task.createDate, 'dd/MM/yyyy HH:mm')}">name</td>
                                        <td>
                                            <div class="btn-group project-list-action">
                                                <a th:href="@{'/task-list/detail/' + ${task.taskListId}}"> <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Detail and add task</button></a>
                                                <a th:href="@{'/task-list/edit/' + ${task.taskListId}}"> <button class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit</button></a>
                                                <a th:href="@{'/task-list/delete/' + ${task.taskListId}}"><button class="btn btn-white btn-action btn-xs"><i class="fa fa-trash-o" aria-hidden="true"> </i>Delete</button></a>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>