<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:replace="/flagments/header::header">
        <title>Edit role</title>
    </th:block>
</head>
<body class="materialdesign">
<th:block th:replace="/flagments/sidebar::sidebar"></th:block>

<div class="basic-form-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline12-list shadow-reset mg-t-30">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Edit Role</h1>
                            <div class="sparkline12-outline-icon">
                                <span class="sparkline12-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline12-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="all-form-element-inner">
                                        <form action="#" th:action="@{/role/add.html}" th:object="${role}" method="post">
                                            <div class="form-group-inner">

                                                <input type="hidden" th:field="*{id}" id="roleId">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">Name</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="input-mark-inner mg-b-22">
                                                            <input type="text" id="name" th:field="*{name}" class="form-control" name="name" />
                                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="badge badge-danger left"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">Detail</label>
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <div class="input-mark-inner mg-b-22">
                                                            <input type="text" id="detail" th:field="*{detail}" class="form-control" name="name" />
                                                            <span th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="badge badge-danger left"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">Active</label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="input-mark-inner mg-b-22">
                                                            <div class="form-select-list">
                                                                <select class="form-control custom-select-value" name="account" th:field="*{flgDelete}">
                                                                    <option value="0">Active</option>
                                                                    <option value="1">Not Active</option>
                                                                </select>
                                                                <span th:if="${#fields.hasErrors('flgDelete')}" th:errors="*{flgDelete}" class="badge badge-danger left"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-3"></div>
                                                        <div class="col-lg-9">
                                                            <div class="login-horizental cancel-wp pull-left">
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Save Change</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="/flagments/footer::footer"></th:block>
</body>
</html>